.map {
	position: relative;
}
.map__map {
	width: 100%;
	height: 400px;
}

.map__info {
	max-width: 240px;
}

.map__info h4 {
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}

.map__info p {
	font-size: 0.9rem;
}